body{
    background-color: blue;
    background: url('../img/body.jpg') no-repeat bottom;
    background-size: cover;
}

.container{
    margin-top: 30px;
}
#first-section{
    padding: 0px 200px;
}

.form-group {
    margin-bottom: 10px;
}


.less-more i{
    color: #F1F4FB;
    font-size: 30px;
}

.pr15{
    padding-right: 15px !important;
}
/*
.row, .form-group{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
*/
#first-section .row{
    margin-left: 0px;
    margin-right: 0px;
}
.form-group{
    padding-right: 4px;
    padding-left: 4px;
}

.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row-eq-height-760{
    padding-top: 35px;
    padding-bottom: 35px !important;
    text-align: center;
}

#second-section{
    padding: 0 90px;
    margin-top: 35px;
}

#title{
    color: #ffffff;
    font-weight: 600;
    font-size: 39px;
}


#subtitle{
    color: #ffffff;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin-bottom: 18px;
    margin-top: 45px;
}

#separator{
    width: 4%;
    border-bottom: 5px solid #ffffff;
    margin: 0 auto;
}

#first-section .first-row{
    margin-top: 40px;
}


#first-section .form-control{
    border: none;
    -webkit-padding: 20px 20px 20px 0px;
    padding: 20px 20px 20px 10px;
}

.form-control::placeholder {
    font-size: 17px;
    padding-left: 0px;
}

#first-section ::-moz-placeholder {
    font-size: 17px;
    padding-left: 0px;
}
#first-section :-ms-input-placeholder {
    font-size: 17px;
    padding-left: 0px;
}
#first-section ::-webkit-input-placeholder {
    font-size: 17px;
    padding-left: 0px;
}

#first-section .obligatory{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 2px;
}
#first-section .obligatory p{
    color: #ffffff;
    font-weight: 600;
    text-align: left;
}


#first-section #submit{
    padding: 20px;
    font-weight: 600;
}

#first-section .description{
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

#first-section .icons{
    text-align: center;
}

#first-section #footer{
    content: "";
    max-height: 650px;
    height: 650px;
}

.place-icons{
    position: absolute;
    margin-top: 8px;
    margin-left: 9px;
}

#first-section .input-group-addon{
    background-color: #ffffff;
    border: none;
    border-radius: 0px;
}

#first-section .back-white{
    background-color: #ffffff;
}
#tipo_barco-options{
    width: 100%;
    padding-left: 32px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 21px;
    color: #B4B9C0;
    line-height: 2;
}

#cant_personas-options{
    font-size: 16px;
}

.line40{
    height: 40px;
    line-height: 40px;
}
.gris{
    background-color: #eeeeee;
}

#first-section .less{
    display: inline-block;
    text-align: middle;
    width: 40px;
    cursor: pointer;
    text-align: center;
    font-size: 33px;
    color: #cccccc;
    line-height: 35px;
}

#first-section .row-eq-height {
    background-clip: content-box;
    max-height: 210px;
    height: 210px;
    text-align: center;
    margin-bottom: 0px;
  }

#first-section .radius{
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
}




#first-section input[type=number]::-webkit-inner-spin-button, 
#first-section input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#first-section input[type=number] { -moz-appearance:textfield; }



#first-section .cant{
    display: inline-block;
    width: 40px;
    border: 0px;
    text-align: center;
}
#first-section .more{
    display: inline-block;
    width: 40px;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #cccccc;
    line-height: 39px;
}

#cant-personas-display{
    width: 100%;
}

#total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color: #eeeeee;
}

#total-personas{
    width: 100%;
}
#total-cant-cabinas{
    background-color: #eeeeee;
}

#cantidades-row{
    align-items: center;
}

#total-cabinas{
    padding-top: 25px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #eeeeee;
}

.containercheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Ocultar el checkbox original del navegador */
  .containercheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  
  /* Crear un checkbox particular */
  
  .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  .checkmark-banios {
    top: 3px;
  }

  .containercheck-banios{
    font-size: 19px;
}

  /* On mouse-over, add a grey background color */
  .containercheck:hover input ~ .checkmark {
    background-color: #ccc;
  }


  /* pone la letra en azul al hover */
  .containercheck:hover{
      color: #2196F3;
 }

  /* pone fondo azul del check cuando esta chequeado */
  .containercheck input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  /* pone en azul el texto cuando está selecciondo */
   .containercheck input:checked ~ .text-check{
      color: #2196F3;
  }

  /* CCrea el checkmark/indicator (Oculto cuando no está seleccionado) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Mostrar el checkmark cuando checkeas */
  .containercheck input:checked ~ .checkmark:after {
    display: block;
  }

  /* Estilo checkmark/indicator */
  .containercheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #programa-options{
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    line-height: 32px;
  }

  #cabinas-options{
    font-size: 16px;
    padding-right: 10px;
  }
  #banio-options{
    padding-top: 20px;
  }

  .containercheck-programa{
      font-size: 15px;
  }
  .checkmark-programa{
    top: 2px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../icons/programas.png');
  }

.containercheck:hover input ~ .checkmark-programa {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../icons/programas.png');
}

.containercheck-programa input:checked ~ .text-check {
    color: #2196F3;
}
.containercheck-programa input:checked ~ .checkmark-programa:after {
    display: none;
}

.containercheck-programa input:checked ~ .checkmark-programa {
    background-color: transparent;
    /*  aca creo que va el cambio de imagen del check  */
}


span.checkmark.checkmark-modelo{
    display: none;
}

#tripulacion-options .text-check, #marca_modelo-options .text-check{
    font-size: 15px;
}
#tripulacion-options, #marca_modelo-options{
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

@media (min-width: 768px) and (max-width: 1024px) {

    #first-section{
        padding: 0px 85px;
    }  
}
@media (max-width: 768px) {

    #first-section{
        padding: 0px 85px;
    }
    .containercheck-programa{
        font-size: 13px;
    }
}